*{
    margin: 0px;
    padding: 0px;
}
ul{
    position: relative;
}
ul li{
    list-style: none;
    float: left;
}
ul li a{
    text-decoration: none;
    /* background-color: burlywood; */
    color: black;
    /* width: 113px; */
    /* height: 50px; */
    display: block;
    /* text-align: center; */
    /* line-height: 50px; */
    margin-left: 5px;
    padding: 10px 25px; 
}
.main-100{
    width: 100%;
    height: 500px;
    /* background-color: rgb(149, 234, 237); */
    position: absolute;
    left: 0px;
    display: none;
}
.box-25{
    width:calc(25% - 50px);
    height: 260px;
    /* background-color: rgb(232, 152, 123); */
    color: black;
    padding: 25px;
    float: left;
}
.box-25 ul{

}
.box-25 ul li{

}
.box-25 ul li a{
    margin: 5px 0px;
    padding: 0px;
    background: none;
    color: black;
}
.box-25 h3{
    margin-bottom: 15px;
}
ul li:hover .main-100{
    display: block;
}
.box-25 ul li a:hover{
    color: rgb(250, 194, 50);
}
ul li a:hover{
    color: rgb(250, 194, 50);
}
.box-25 h3:hover{
    color: rgb(250, 194, 50);
}